<% if notice%>
<P id="notice"><%= notice %></p>
<% end %>
<%= form_tag store_path, :method => 'get' do %>
  <p>
		<%= collection_select(:product, :id, Product.all, :id, :title, {:include_blank => true, :selected => (params[:product].nil? ? "" : params[:product][:id] ) }) %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<h1> Catalog </h1>
<% @products.each do |product| %>
	<div class="entry">
		<%= image_tag(product.image_url) %>
		<h3><%= product.title %></h3>
		<%= sanitize(product.description) %>
		<div class="price_line">
			<span class="price"><%= number_to_currency(product.price) %></span>
			<%= button_to 'Add to Cart', line_items_path(:product_id => product) %>
		</div>
	</div>
<% end %>
