<!DOCTYPE html>
<html>
<head>
  <title>storehouse for food items</title>
	<%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%#= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag "style", :media => :all %>
	<%= stylesheet_link_tag "jquery-ui-1.8.18.custom", :media => :all %>
  <%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "autocomplete-rails.js" %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="page">
<header>
	<%= link_to(image_tag("logo.jpg", :width => "303", :height => "112", :alt => "Food Shop"), "http://depot-demo.heroku.com") %>
	
      <br />
	<%= image_tag("bg_banner_grey.gif", :width => "980", :height => "5", :alt => "banner") %>

      </header>


  <div id="content">

		  <div class="post">
 <div data-pjax-container>	
 <%= yield %>

 </div>

<div class="top-search">
<%= form_tag store_path, :method => 'get', :id => "search" do %>
  
		<%= autocomplete_field_tag 'search', '', autocomplete_product_title_products_path, :size => 25, :placeholder => "Search", :value => params[:search] %>
    <%= submit_tag "Go", :name => nil %>
  
<% end %>
</div>

    </div>
<div id="left">

			</div>
<div id="right">
		</div>

  </div>
  <div id="sidebar">
		<div id="cart">
			<%= render @cart %>
		</div>
	<ul>

    <li>
					<ul>


						<li><a href="http://depot-demo.heroku.com">Home</a></li>
                        <li><%= link_to("Products", products_path) %></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">About us</a></li>
                        
					</ul>
	  </li>

    </ul>
    <br />
     

  </div>

  <div style="clear: both;">&nbsp;</div>
	<%= image_tag("bg_banner_grey.gif", :width => "980", :height => "5", :alt => "banner") %>
<footer>
 Depot Demo 
				© 2012
</footer>
</div>


</div>
</body>
</html>
